@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.container{
  width: 100%;
  background: #ffe8f0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial{
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.testimonial-text{
  background: #ff0058;
  color: #fff;
  width: 100%;
  height: 350px;
  position: relative;
  box-shadow: 0 15px 20px rgba(0,0,0, 0.2);

}

.user-text{
  width: 80%;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.user-text .fas{
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.user-text span{
  display: block;
  font-size: 13px;
  margin-top: 70px;
  font-weight: 700;
  text-transform: uppercase;
 
}

.testimonial-pic{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-pic{
  width: 65px;
  padding: 5px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}
.user-text.active-text{
  display: block;
  animation: moveup 0.5s linear forwards;
}

.user-pic.active-pic{
  width: 100px;
  border: 3px solid #ff0058;
}

@keyframes moveup{
  0%{
    margin-top: 25px;
  }

  100%{
    margin-top: 0px;
  }
}